<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TransportConfig"
             type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
  </configSections>
  <connectionStrings>
    <!-- Default connection string for all NHibernate/Sql persisters -->
    <add name="NServiceBus/Persistence"
         connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Samples.nsb-nh-occ;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <TransportConfig MaximumConcurrencyLevel="25"/>
</configuration>
